<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skyair.webservice.customer.dao">
    <select id="customerList" parameterType="string" resultType="hashmap">
        SELECT '1' AS NAME
        FROM 
    </select>
</mapper>